
<div class="contact-card">
  <h3 class="name">{{firstName}} {{lastName}}</h3>
  <div class="contact-info">
    <p class="title">{{title}}</p>
    <p class="email">
      <strong>Email:</strong> <a href="mailto:{{email}}">{{email}}</a>
    </p>
    <p class="phone"><strong>Phone:</strong> {{phone}}</p>
    <p class="twitter"><strong>Twitter:</strong> {{twitterHandle}}</p>
    <p class="linkedin"><strong>Linked In:</strong> {{linkedIn}}</p>
    <div class="actions">
      <button class="edit btn btn-xs btn-success"type="button" name="edit">Edit</button>
      <button class="delete btn btn-xs btn-danger" type="button" name="delete">Delete</button>
    </div>
  </div>
</div>
